deployment/
userlib/
.DS_Store
*.iml
.idea/
.gradle/
*.log
*.tmp
*.class
*.jar
*.mpk
*.bak
.settings/
.project
.classpath

/*.launch
/deployment/
/packages/
/releases/
/.mendix-cache/
/.classpath
/.project
/hrm_study.mpr.bak
/hrm_study.mpr.lock
/modeler-merge-marker
/project-settings.user.json
/javasource/*/proxies/
/javasource/system/
/**/node_modules/
!/javascriptsource/**/node_modules/
/nativemobile/builds/
/vendorlib/temp/
/.svn/
